
Project/.vs/Project/v17/.suo
Project/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Project/obj/Debug/net8.0/Project.AssemblyInfo.cs
Project/obj/Debug/net8.0/Project.AssemblyInfoInputs.cache
Project/obj/Debug/net8.0/Project.assets.cache
Project/obj/Debug/net8.0/Project.GeneratedMSBuildEditorConfig.editorconfig
Project/obj/Debug/net8.0/Project.GlobalUsings.g.cs
Project/obj/project.assets.json
Project/obj/Project.csproj.nuget.dgspec.json
Project/obj/Project.csproj.nuget.g.props
Project/obj/Project.csproj.nuget.g.targets
Project/obj/project.nuget.cache
Project/.vs/Project/FileContentIndex/08aeb448-b9f2-4026-ab07-6374b00de331.vsidx
